body {
  display: inline-block;
  background: #00AFF9 url(https://image.freepik.com/vecteurs-libre/deconnecter-la-fiche_1133-71.jpg) center/cover no-repeat;
  height: 100vh;
  margin: 0;
  color: white;
}

h1 {
  margin: .8em 3rem;
  font: 4em Roboto;
}
p {
  display: inline-block;
  margin: .2em 3rem;
  font: 2em Roboto;
}

p a {
  text-decoration: none;
  color: #777777;
}

p a:hover {
  color: #999;
}
