body {
  background: #ADD8E6;
}

.supprimer {
  text-align: center;
  align-items: center;
  font-size: 2em;
  color: #FF0000;
  width: 10%;
  text-decoration:none;
  line-height:1.4em;
  margin:auto;
  border-left: 1px solid #999;
}

.etat {
  text-align: center;
  width: 15%;
  margin: auto;
}

.description{
  width: 75%;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  margin:auto;
  margin-left: 0.5em;
  margin-right: 0;
}

.description h4{
  text-align:center;
  margin:auto;
  vertical-align: center;
}

.description p {
  text-align: center;
  margin: 0em;
  font-style: italic;
  color: white;
  font-size: large;
}

#descItem{
  display:none;
}

.description:hover #descItem{
  color: darkgrey;
  display:grid;
}

.item {
  display: flex;
  border: 1px solid #999;
  background-color:white;
  color:#000000;
  margin: 10px;
  width: 100%;
  font-family:Arial;
  text-decoration:none;
  padding: 0.25em;
}

.box-param {
  margin: 50px;
}

.box-trans {
  background-color:transparent;
  border: 1px solid #ADD8E6;
}

.box-item {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  min-height: 100px;
  background: #eee;
  border: 1px solid #999;
}

.box-item img{
  width: 4em;
  height:4em;
  width: 4em;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  justify-content: space-around;
}

#titre {
  font-weight: bold;
  font-size:40px;
}

#date {
  font-weight: bold;
  font-size:20px;
}

#description {
  font-style: italic;
  font-size:30px;
}

#messageItem{
  color: brown;
}

.whoReserve{
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
}

.reserve{
  text-decoration: none;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
}

.resCrea{
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  color: lightgrey;
}

.reserve:hover{
  font-weight: bold;
}

.block-act {
	font-family:Arial;
	font-size:18px;
  margin: 10px;
}

.block-wr {
  cursor: default;
	font-size:28px;
  margin: 0px 100px;
}

.block {
  background-color:transparent;
  color:#000000;
	font-family:Arial;
  text-decoration:none;
}


/*********************************RESERVATION******************/
/* Add animation (Chrome, Safari, Opera) */
@-webkit-keyframes example {
    from {top:-100px;opacity: 0;}
    to {top:0px;opacity:1;}
}

/* Add animation (Standard syntax) */
@keyframes example {
    from {top:-100px;opacity: 0;}
    to {top:0px;opacity:1;}
}

/* The modal's background */
.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Display the modal when targeted */
.modal:target {
  display: table;
  position: absolute;
}

/* The modal box */
.modal-dialog {
  display: table-cell;
  vertical-align: middle;
}

/* The modal's content */
.modal-dialog .modal-content {
  margin: auto;
  background-color: #f3f3f3;
  position: relative;
  padding: 0;
  outline: 0;
  border: 1px #777 solid;
  text-align: justify;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  /* Add animation */
  -webkit-animation-name: example; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 0.5s; /* Chrome, Safari, Opera */
  animation-name: example;
  animation-duration: 0.5s;
}

/* The button used to close the modal */
.closebtn {
  text-decoration: none;
  float: right;
  font-size: 35px;
  font-weight: bold;
  color: #fff;
}

.closebtn:hover,
.closebtn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.container {
  padding: 2px 1em;
}

.container form a{
  font-size: 1em;

  color: #726659;

  text-decoration: none;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

.container form a:hover{
  color: #32CD32;
  text-decoration: none;
}

.container form{
  padding-bottom: 1em;
}

.suppr {
  color : red;
  font-size: 1em;
  height: 2em;

  border-radius: 0.5em;

  background: transparent;
  border: none;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

.suppr:hover{
  background-color: red;
  color: white;
  cursor:  pointer;
}

/** description des items**/

.dropdown{
  display: none;
}

header {
  background-color: #A0CCCC;
  font-size: 25px;
  color: white;
}

#bouton{
  margin : 6em 12.5%;
}

#bouton a {
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 10%;
  margin-bottom: 2%;
  background-color:#006575;
  border-radius:10px;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:28px;
  font-weight:bold;
  padding:10px 10px;
  text-decoration:none;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

#bouton a:hover{
  text-shadow:0px 0px 1px #fff;
}

#bouton a:active{
  position:relative;
	top:0.5em;
}
